.result-box {
    width:100%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:10px;
}
.result-box .result {
    min-height:200px;
    border:1px solid black;
    background:#eee;
}
.result-box .result:before {
    content : " ";
    display:block;
    clear:both;
}
.result .video {
    width:50%; height:100%; 
    float:left;
    background:#555;
}
.result .treatment {
    width:50%;
    display:table;
    padding:20px; float:right;
    height:100%; color:#000;
    border-left:1px solid grey;
} 
.treatment .item { display:table-row; }
.item * { display:table-cell; }