* {
  box-sizing: border-box;
}
html.open,
body.open {
  height: 100%;
  overflow: hidden;
}
html {
  padding: 40px;
  font-size: 62.5%;
}
#wrap #title {
  font-size:20px;
  display:none;
  color:#eee;
  font-weight:900;
  margin-bottom:30px;
  border-left:10px solid grey; padding:10px;
}
body {
  padding: 20px;
  background-color: #5BB9B8;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
}
p {
  text-align: center;
  margin: 20px 0 60px;
}
h1 {
  text-align: center;
  font-weight: 300;
}